:root {
    --dark-color: #191a1b;
    --light-color: #f4f5fc;
    --alt-color: #d9dde4;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
}

body {
    background-color: var(--dark-color);
    color: var(--dark-color);
}

form {
    background-color: var(--alt-color);
    border-radius: 0.75rem;
    height: fit-content;
}

form legend {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--dark-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: var(--dark-color);
    cursor: pointer;
}

.hidden {
    display: none;
}

.result {
    white-space: pre-line;
}

.btn-primary {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.btn-primary:hover {
    background-color: white;
    color: var(--dark-color);
    border-color: var(--dark-color);
}