:root {
    --dark-color: #1c1e20;
    --light-color: #cfd3db;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
}

body {
    background-color: var(--dark-color);
    color: var(--dark-color);
}

form {
    background-color: var(--light-color);
    border-radius: 0.75rem;
    height: fit-content;
}

form legend {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}


.hidden {
    display: none;
}

.result {
  white-space: pre-line;
}

.btn-primary {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.btn-primary:hover {
    background-color: white;
    color: var(--dark-color);
    border-color: var(--dark-color);
}